<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd 
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
	
	<!-- Beans del modelo de datos	-->
	<bean id="competitionDAO" class="an.dpr.cyclingresultsapi.dao.springdatajpa.CompetitionDAOSDJPA"/>
	
	<!-- REST Services -->
	 <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <bean class="an.dpr.cyclingresultsapi.services.rest.CompetitionRS"/>
            <bean class="an.dpr.cyclingresultsapi.services.rest.ResultsRS"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/> 
        </jaxrs:providers>
    </jaxrs:server>
</beans>
